.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    font-family: 'IBM Plex Sans', var(--font-family), sans-serif;
}
.header {
    width: 100vw;
}
.container {
    padding: 0 10px;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}
.sidebar {
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    padding-right: 12px;
    perspective-origin: right top;
    top: 80px;
    bottom: 0;
    width: 240px;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    z-index: 99;
    padding-right: 8px;
    transition: all 300ms ease-in-out;
    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: #eaeaea;
        }
    }
}
.right-container {
    flex: 1;
    position: relative;
}
.mask {
    width: 240px;
}
.left-container {
    margin-bottom: 16px;
}
