.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    font-family: 'IBM Plex Sans', var(--font-family), sans-serif;
    position: relative;
    &.fullscreen {
        flex: none;
    }
}

.container {
    margin-top: var(--default-layout-height);
    padding: 0 var(--default-layout-horizontal-spacer);
    width: var(--default-layout-width);
    display: flex;
    max-width: 1150px;
    align-self: center;
    &.fullscreen {
        width: 100%;
        max-width: 100%;
        padding: 0;
        .wrapper-sidebar {
            width: 240px;
        }
        .wrapper-content {
            width: 100%;
        }
        .content {
            width: 100%;
            margin-left: 0;
        }
    }
}
.mask {
    width: 356px;
    position: relative;
}
.content {
    margin-right: 16px;
    margin-left: 60px;
    width: 692px;
    max-width: 692px;
    position: relative;
    &.fullscreen {
        width: 100%;
        max-width: 100%;
    }
}
