// Chat room css
.chat-room {
    width: 341px;
    position: relative;
    height: 100%;
    min-height: 520px;
    display: flex;
    flex-direction: column;
    transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
    z-index: 4;
    flex-shrink: 0;
    background-color: rgb(255, 255, 255);
    border-radius: inherit;
    box-shadow: rgb(0 0 0 / 12%) -2px 0px 4px;
    &.hide-chat {
        width: 0;
        opacity: 0;
    }
}
.chat-container {
    width: 100%;
    height: 100%;
}
.chat-header {
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.2);
    display: flex;
    height: 48px;
    width: 100%;
    align-items: center;
    padding: 0 16px;
    font-size: 18px;
    .mask {
        width: 18px;
    }
    .close-chat {
        padding-top: 6px;
        svg {
            width: 18px;
            height: 18px;
        }
    }
    .title {
        text-align: center;
        width: 100%;
        padding-right: 18px;
        p {
            font-weight: 700;
            flex-shrink: 1;
            font-family: 'IBM Plex Sans', ProximaNova, Arial, Helvetica, sans-serif;
        }
    }
}
.top-live {
    position: relative;
    height: 140px;
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.12);
    padding: 0 4px;
    .title {
        display: flex;
        height: 38px;
        padding: 8px 10px;
        cursor: pointer;
        color: rgb(22, 24, 35);
        margin-top: 2px;
        p {
            font-size: 12px;
            font-weight: 600;
            line-height: 18px;
        }
        span {
            font-size: 11px;
            line-height: 18px;
            margin-left: 8px;
        }
    }
}
.top-user {
    display: flex;
    width: 100%;
    height: calc(100% - 38px);
    position: absolute;
    top: 28px;
    .top-1 {
        display: flex;
        width: 45%;
        justify-content: space-around;
        align-items: center;
    }
    .one {
        font-size: 50px;
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
        background: -webkit-linear-gradient(#ffffff, #ffe600);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .user {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .user-image-t1 {
        width: 32px;
        height: 32px;
        border-radius: 52px;
        border: 1px solid #ea8827;
    }
    .name {
        color: rgb(22, 24, 35);
        font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 600;
        width: 81px;
        height: 18px;
        font-size: 12px;
        line-height: 22px;
        margin: 4px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        margin-bottom: 1px;
    }
    .coins {
        display: flex;
        align-items: center;
        svg {
            font-size: 8px;
            margin-right: 4px;
        }
        p {
            color: rgb(22, 24, 35);
            font-size: 12px;
            line-height: 18px;
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .top-2-3 {
        display: flex;
        flex-direction: column;
        .two {
            font-size: 36px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 800;
            background: -webkit-linear-gradient(#eee, #979797);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .three {
            font-size: 36px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 800;
            background: -webkit-linear-gradient(#eee, #eab4b4);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .user-2,
    .user-3 {
        display: flex;
        .user {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-left: 12px;
        }
    }
    .info {
        display: flex;
        flex-direction: column;
        margin-left: 6px;
        .name {
            color: rgb(22, 24, 35);
            font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
            font-weight: 600;
            width: 81px;
            height: 18px;
            font-size: 12px;
            line-height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            margin-bottom: 1px;
        }
    }
}
.chat-live {
    position: relative;
    width: 100%;
    height: calc(100% - 140px - 48px);
    overflow: hidden;
}
.chat-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.chat-content {
    flex: 1 1 0%;
    padding: 0 4px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}
.chat-user,
.notification {
    display: flex;
    overflow-anchor: none;
    flex-shrink: 0;
    width: 100%;
    position: relative;
    color: rgb(22, 24, 35);
    display: flex;
    line-height: 24px;
    padding: 4px 12px;
    border-radius: 2px;
    align-items: center;
    .image {
        width: 24px;
        height: 24px;
        border-radius: 52px;
        margin-right: 8px;
    }
    .icon {
        width: 24px;
        height: 24px;
        border-radius: 52px;
        margin-right: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .name {
        color: rgb(22, 24, 35);
        height: 24px;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        font-family: ProximaNova;
        line-height: 24px;
        flex: 0 0 auto;
        order: 0;
        cursor: pointer;
        margin-inline-end: 4px;
        display: block;
        max-width: 104px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            color: rgb(16, 162, 197);
        }
    }
    .chat-txt,
    .title {
        margin-block-end: 2px;
        font-size: 16px;
        line-height: 24px;
        overflow-wrap: break-word;
        word-break: break-word;
        vertical-align: middle;
    }
}

.chat-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 64px;
    padding: 3px 14px;
    border-radius: 0px 0px 8px 8px;
    border-top: 0.5px solid rgba(22, 24, 35, 0.12);
    background-color: rgb(255, 255, 255);
    .div-chat {
        position: relative;
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        flex-direction: row;
        background-color: rgba(22, 24, 35, 0.06);
        box-sizing: border-box;
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 0px 9px;
        height: 36px;
        margin-right: 8px;
        &:focus-within {
            border: 1.5px solid rgba(22, 24, 35, 0.2);
        }
    }
    .input {
        background-color: transparent;
        height: 100%;
        width: 100%;
        caret-color: var(--primary);
        &::placeholder {
            color: rgba(22, 24, 35);
            font-size: 14px;
        }
    }

    .chat-emoji {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: rgba(22, 24, 35, 0.2);
            border-radius: 5px;
        }
    }

    .send {
        width: 24px;
        height: 22px;
        margin-left: 8px;
        color: rgba(22, 24, 35, 0.5);
    }
    .input:empty ~ .send {
        cursor: not-allowed;
    }
}
// Top list user
.list-top {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100% - 48px);
    width: 100%;
    .title {
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
        border-bottom: 0.5px solid rgba(22, 24, 35, 0.2);
    }
    .text {
        color: rgba(22, 24, 35, 0.75);
        font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        flex-grow: 1;
    }
    .close-list,
    .help {
        width: 18px;
        height: 18px;
        display: flex;
        cursor: pointer;
        align-items: center;
        font-size: 16px;
    }
}
.container-list {
    flex: 1 1 0%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0px 4px;
}
.div-list {
    overflow: hidden auto;
}
.div-list,
.viewer {
    position: relative;
    width: 100%;
    .list-user {
        position: relative;
        padding: 0 18px;
        margin: 0;
    }
    .header {
        display: flex;
        justify-content: space-between;
        padding: 16px 0 8px;
        height: 48px;
        align-items: center;
        font-size: 17px;
        width: 100%;
        svg {
            margin-right: 8px;
            font-size: 14px;
        }
    }
    .user {
        height: 48px;
        display: flex;
        align-items: center;
    }
    .index {
        font-weight: 800;
        padding-right: 8px;
    }
    .user-image {
        width: 32px;
        height: 32px;
        border-radius: 52px;
        margin: 8px;
    }
}
.viewer {
    padding: 12px 18px;
    box-shadow: rgb(0 0 0 / 14%) 0px 0px 8px 0px;
    .viewer-btn {
        width: 100%;
        height: 36px;
    }
    .viewer-text {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        span {
            color: rgba(22, 24, 35, 0.34);
            font-family: 'IBM Plex Sans', ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
            font-size: 12px;
            line-height: 18px;
            word-break: break-word;
            flex: 1 1 0%;
        }
        svg {
            margin-right: 5px;
            color: rgb(254, 44, 85);
            opacity: 0.2;
            display: inline-block;
            font-size: 12px;
            margin-top: 2px;
        }
    }
}
.help-tippy {
    background-color: rgb(16, 162, 197);
    padding: 8px 6px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        width: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid rgb(16, 162, 197);
        top: -8px;
        right: 13px;
    }
}
.sub-text {
    background-color: rgba(39, 40, 41, 0.7);
    color: #fff;
    padding: 8px 4px;
    border-radius: 8px;
    font-weight: 600;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 0px;
        bottom: -8px;
        right: calc(50% - 12px);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid rgba(39, 40, 41, 0.7);
    }
}
