.wrapper {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    padding: 8px 0 8px 24px;
}
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.info {
    width: calc(100% - 30px);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    justify-content: space-between;
}
.nickname {
    width: 50%;
    height: 40%;
    margin-top: -3px;
    border-radius: 10px;
}
.name {
    border-radius: 10px;
    height: 40%;
    width: 25%;
    margin-bottom: -3px;
}

.avatar,
.name,
.nickname {
    position: relative;
    background-color: #ddd;
    overflow: hidden;
    &::before {
        content: '';
        background-color: #ddd;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &::after {
        content: '';
        background: linear-gradient(to right, #ddd, #f4f4f4 50%, #ddd);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: loading 2s linear infinite;
    }
}
@keyframes loading {
    0% {
        left: -50%;
    }
    100% {
        left: 50%;
    }
}
