.wrapper {
    width: 356px;
    padding: 20px 8px 26px 6px;
    font-family: 'IBM Plex Sans', var(--font-family), sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior-y: contain;
    perspective: 1px;
    position: fixed;
    transform-style: preserve-3d;
    perspective-origin: right top;
    top: 60px;
    bottom: 0;
    background: rgba(255, 255, 255, 1);
    z-index: 99;
    padding-right: 0px;
    margin-left: -18px;
    &.fullscreen {
        width: 240px;
        padding: 0;
        margin-left: 8px;
    }
}
