.wrapper + .wrapper {
    border-top: 1px solid #ddd;
}
.wrapper {
    position: relative;
    padding-top: 24px;
    display: inline-table;
    padding-bottom: 20px;
}
.header {
    display: flex;
}
.user-info {
    padding-left: 12px;
}
.follow {
    position: absolute;
    right: 0;
    top: 28px;
    min-height: 28px;
    font-size: 16px;
    font-weight: 600;
    padding: 0 10px;
}
.followed {
    border-color: rgb(208, 209, 211);
    color: #161823;
    &:hover {
        border-color: rgb(208, 209, 211);
        background-color: rgb(248, 248, 248);
    }
}
.user {
    position: relative;
    &:hover {
        .nickname {
            text-decoration: underline;
        }
    }
}
.avatar {
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50px;
    object-fit: cover;
    cursor: pointer;
    z-index: 999;
    margin-left: 2px;
}
.user-name {
    position: relative;
    padding-left: 12px;
}
.container {
    position: relative;
    padding-left: 12px;
    color: #161823;
    padding-left: 70px;
}
.nickname {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    margin-right: 4px;
}
.name {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    line-height: 28px;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
.hashtag {
    width: 692px;
    font-weight: 600;
    padding: 2px 0;
    font-size: 16px;
    line-height: 22px;
    a {
        margin-right: 4px;
        &:hover {
            text-decoration: underline;
        }
    }
}
.song {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-top: 4px;
    div {
        display: flex;
        align-items: center;
        padding-bottom: 12px;
        svg {
            margin-top: 4px;
        }
        p {
            padding-left: 4px;
        }
    }
    &:hover {
        text-decoration: underline;
    }
}
.container-video {
    position: relative;
    max-width: 290px;
    display: block;
}
.div-video {
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}
.absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.img-model {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.wrapper-video {
    width: 100%;
    height: 100%;
    &:hover {
        .report,
        .player,
        .control-volume {
            opacity: 1;
        }
    }
}

.report {
    position: absolute;
    right: 12px;
    top: 18px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    svg {
        font-size: 12px;
        padding-right: 6px;
    }
}
.player,
.control-volume {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 28px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.report,
.player,
.control-volume {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    padding: 4px 8px;
}
.player {
    left: 20px;
}
.control-volume {
    right: 20px;
    &:hover {
        .div-volume {
            display: flex;
        }
    }
}
.div-volume {
    display: none;
    width: 24px;
    background-color: rgba(22, 24, 31, 0.45);
    height: 64px;
    position: absolute;
    left: 8px;
    bottom: 34px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.volume {
    cursor: pointer;
    transform: rotate(-90deg);
    -webkit-appearance: none;
    width: 50px;
    height: 2px;
    background-color: #ddd;
}
.volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #eaeaea;
    width: 12px;
    height: 12px;
    border-radius: 50px;
}

.video {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// CSS Action video like/cmt/share
.action {
    position: absolute;
    right: -66px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.like-action,
.comment-action,
.share-action {
    margin-bottom: 7px;
}
.like-icon,
.comment-icon,
.share-icon {
    background-color: #1618230f;
    font-size: 22px;
    border-radius: 100%;
    width: 48px;
    height: 48px;
}
.count {
    color: rgba(22, 24, 35, 0.75);
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    font-weight: 700;
    margin-top: 7px;
}
.share-list {
    width: 280;
    max-height: 448px;
}
.wrapper-list {
    width: 280px;
    max-height: 440px;
    overflow-y: overlay;
    padding-right: 8px;
    &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 36px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 12px solid #fff;
    }
}
.item {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 11px 16px;
    font-family: 'IBM Plex Sans', ProximaNova, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    .icon {
        padding-right: 12px;
    }
    .title {
        margin-bottom: 8px;
    }
    &:hover {
        background-color: rgba(234, 234, 234, 0.5);
    }
}
.share-more {
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background-color: rgba(234, 234, 234, 0.5);
    }
    svg {
        font-size: 22px;
        padding: 3px 0;
    }
}
@media screen and (max-width: 1919px) {
    .wrapper {
        height: calc(558px + (100vw - 768px) / 1152 * 100);
    }
    .container-video {
        height: calc(450px + (100vw - 768px) / 1152 * 100);
        width: 290px;
    }
}
