.wrapper {
    width: 320px;
    padding: 12px 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}
.follow-btn {
    padding: 6px 16px;
}
.body {
    margin-top: 8px;
    color: #161823;
}
.nickname {
    font-size: 1.8rem;
}
.check {
    font-size: 1.4rem;
    color: #20d5ec;
    margin-left: 4px;
}
.name {
    font-size: 1.4rem;
}
.analytics {
    margin-top: 8px;
    font-size: 1.7rem;
}
.value ~ .value {
    margin-left: 20px;
}
.label {
    color: #161823bf;
}
.bio {
    width: 100%;
    border-top: 1px solid #eaeaea;
    margin-top: 16px;
    padding-top: 16px;
    font-family: "IBM Plex Sans", var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 14px;
}
