.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;

    position: fixed;
    top: 0;
    left: 0;
    height: var(--default-layout-height);
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
    width: 100vw;
    z-index: 999;
}
.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
    &.fullscreen {
        width: 100%;
    }
}

.logo-link {
    display: flex;
    min-width: 300px;
}

.custom-login {
    background-color: rebeccapurple;
}

// Actions
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 12px;
    background: transparent;
    padding: 8px;
    cursor: pointer;
}

.action-btn {
    background-color: transparent;
    font-size: 2.6rem;
    color: #161823;
    padding: 0px 11px;
    cursor: pointer;

    &.upload {
        border-radius: 2px;
        font-size: 1.6rem;
        font-weight: 600;
        padding: 8px 14px;
        margin-right: 4px;
        height: 36px;
        font-family: 'IBM Plex Sans', var(--font-family), sans-serif;
    }
    &.coins {
        margin: 0 12px;
    }
}
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 8px;
}

.current-user {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.message {
    padding: 3px;
    display: block;
    margin-right: -6px;
}
.letters {
    margin-right: 8px;
    display: block;
}
.notify {
    position: absolute;
    top: 8px;
    z-index: 999;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 700;
    font-family: var(--font-family);
    padding: 4px 6px;
    border-radius: 50px;
}
